body {
    background-color: gray;
    font-family: Helvetica;
}

h1 {
    text-align: center;
    font-size: 80px;
    margin: 0px;
}

p {
    text-align: center;
}

.card {
    background-color: rgb(255, 98, 98);
    color: whitesmoke;
    width: 200px;
    height: 200px;
    border-radius: 15px;
    align-content: center;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    cursor: crosshair;
    transition: 300ms;
    user-select: none;
}

.card:hover {
    transform: scale(1.1);
}

.row {
    display: flex;
    justify-content: space-around;
    padding: 20px;

}